body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}
#container {
  border-radius: 10%;
}

.monthDisplay {
  /*display: inline-block;*/
  text-align: center;
}

.daysOfWeek {
  color:red;
  font-weight: bold;
}

#currentMonthDisplay {
  padding: .1rem 1rem .5rem;
  display:inline-block;
}

#rightSideContainder {
  display: inline-block;
  border: 1px solid black;
  font-size:8px;
  vertical-align: top;
  padding: 8px 0;
  height: 100%;
}

table {
  border-spacing:0;

}
#calendar th {
  border-right: .5px solid #ccc;
}
#calendar td:last-child {
  border-right: 0;
}
#calendar td {
  /*border: 1px solid black;*/
  padding: 0.1rem 0.45rem;
  text-align: center;
  border-right: .5px solid #ccc;
}
#calendar td:last-child {
  border-right: 0;
}

button {
  border: 0;
  background: transparent;
  font-size:8px;
}

#currentDateDisplay{
  border: 1px solid black;
  width: 120px;
  vertical-align: top;
  margin: 0;
  padding: 0;
  text-align: center;
}

#week {
  background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
  /*background-color: red;*/
  color: white;
  font-size: 0.7rem;
  padding: 0.5rem;
}

#day {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
}

.selectedDate {
/*  background-color: red;*/
  background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
  color: white;
  /*border-radius: 20%*/
}
