body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}
#container {
  border-radius: 10%;
}

.monthDisplay {
  /*display: inline-block;*/
  text-align: center;
}

.daysOfWeek {
  color:red;
  font-weight: bold;
}

#currentMonthDisplay {
  padding: .1rem 1rem .5rem;
  display:inline-block;
}

#rightSideContainder {
  display: inline-block;
  border: 1px solid black;
  font-size:1.3rem;
  vertical-align: top;
  padding: 10px 4px;
  height: 100%;
}

table {
  border-spacing:0;

}
#calendar th {
  border-right: .5px solid #ccc;
}
#calendar td:last-child {
  border-right: 0;
}
#calendar td {
  /*border: 1px solid black;*/
  padding: 0.1rem 0.8rem;
  text-align: center;
  border-right: .5px solid #ccc;
}
#calendar td:last-child {
  border-right: 0;
}

button {
  border: 0;
  background: transparent;
  font-size:12px;
}

#currentDateDisplay{
  border: 1px solid black;
  width: 14.5rem;
  vertical-align: top;
  margin: 0;
  padding: 0;
  text-align: center;
}

#week {
  background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem;
}

#day {
  font-size: 5rem;
  font-weight: bold;
  padding: 2.5rem;
}

.selectedDate {
  background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
  color: white;
}
